{
    "tabWidth": 4,
    "printWidth": 150,
    "singleQuote": true,
    "overrides": [
        {
            "files": [
                "*.md"
            ],
            "options": {
                "parser": "markdown",
                "tabWidth": 2
            }
        }
    ]
}